<div>
    <app-page-header [heading]="'Usr roles'" [icon]="'fa-edit'"></app-page-header>
    <div class="card" style="margin-top: 10px">
        <div class="card-header" (click)="isCollapsed = !isCollapsed">
            <i class="pull-right fa" [ngClass]="{'fa-chevron-down': isCollapsed, 'fa-chevron-up': !isCollapsed}"></i>
            <strong>Search Criteria</strong>
        </div>
        <div class="card-body" [ngbCollapse]="isCollapsed">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group row col-md-8">
                        <label class="col-md-3 col-form-label" for="select">Role</label>
                        <input class="col-md-8 form-control ng-untouched ng-pristine ng-valid" name="name" ngmodel="" placeholder="Enter Role name" type="text">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group row col-md-8">
                        <label class="col-xs-12 col-12 col-md-3 col-form-label" for="select">Status</label>
                        <select class="col-xs-12 col-12 col-md-8 form-control ng-untouched ng-pristine ng-valid">
                            <!----><option value="-">All</option><option value="ACT">Active</option><option value="INA">Inactive</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group row" style="margin-left: 1%">
                        <button class="btn btn-outline-primary" type="button">Search</button> &nbsp;
                        <button class="btn btn-outline-primary" type="button">Reset</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="col-md-12 mar-export">
                        <!----><button class="btn btn-outline-primary" (click)="AlertModal.show()" type="button" tabindex="0">Add New</button>
                        <button class="btn btn-outline-primary pull-right" type="button">Export to excel</button>
                        <br/><br/>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="width:30%">

                                    <a class="text-nowrap" style="cursor: pointer">
                Role Name
                <!---->
                <!---->
            </a>
                                </th>
                                <th style="width:30%">

                                    <a class="text-nowrap" style="cursor: pointer">
                Remarks
                <!---->
                <!---->
            </a>
                                </th>
                                <th style="width:30%">

                                    <a class="text-nowrap" style="cursor: pointer">
                Status
                <!---->
                <!---->
            </a>
                                </th>
                                <th style="width: 10%">
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <!---->
                            <tr>
                                <td>CapBridgeAdmin</td>
                                <td>CapBridgeAdmin</td>
                                <td class="text-center">Active</td>
                                <td class="text-center">
                                    <!---->
                                    <a class="btn-blue fa fa-pencil" href="#/roles-edit/2"></a>
                                </td>
                            </tr>
                            <tr>
                                <td>Investor</td>
                                <td>Investor</td>
                                <td class="text-center">Active</td>
                                <td class="text-center">
                                    <!---->
                                    <a class="btn-blue fa fa-pencil" href="#/roles-edit/1"></a>
                                </td>
                            </tr>
                            <tr>
                                <td>Company Admin</td>
                                <td>Company Admin</td>
                                <td class="text-center">Active</td>
                                <td class="text-center">
                                    <!---->
                                    <a class="btn-blue fa fa-pencil" href="#/roles-edit/18"></a>
                                </td>
                            </tr>
                            <tr>
                                <td>Test</td>
                                <td>xxx</td>
                                <td class="text-center">Active</td>
                                <td class="text-center">
                                    <!---->
                                    <a class="btn-blue fa fa-pencil" href="#/roles-edit/21"></a>
                                </td>
                            </tr>
                            <tr>
                                <td>DBAdmin</td>
                                <td>DB Admin</td>
                                <td class="text-center">Active</td>
                                <td class="text-center">
                                    <!---->
                                    <a class="btn-blue fa fa-pencil" href="#/roles-edit/20"></a>
                                </td>
                            </tr>
                            <!---->
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="4">
                                    <!---->
                                    <ul class="pagination">
                                        <li class="page-item disabled">
                                            <a class="page-link" style="cursor: pointer">«</a>
                                        </li>
                                        <!---->
                                        <!---->
                                        <!---->
                                        <!---->
                                        <li class="page-item active">
                                            <a class="page-link" style="cursor: pointer">1</a>
                                        </li>
                                        <!---->
                                        <li class="page-item">
                                            <a class="page-link" style="cursor: pointer">2</a>
                                        </li>
                                        <!---->
                                        <!---->
                                        <!---->
                                        <li class="page-item">
                                            <a class="page-link" style="cursor: pointer">»</a>
                                        </li>
                                    </ul>
                                    <!---->
                                    <ul class="pagination pull-right float-sm-right">
                                        <!---->
                                    </ul>

                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div bsModal #AlertModal="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modelAlert modal-lgg" style="max-width: 800px;" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#dddddd ">
                <h4 class="modal-title">Add Role</h4>
                <button type="button" class="close" (click)="AlertModal.hide()" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
            </div>
            <div class="modal-body">

                <div class="form-group row">
                    <div class="col-md-2">
                        <strong>Role Name</strong>
                        <span class="text-danger">*</span>
                    </div>
                    <div class="col-md-10">
                        <input class="form-control ng-untouched ng-pristine ng-invalid" name="rolename" required="" type="text">
                        <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg field-validation-error" data-for="rolename" data-valmsg-for="rolename" id="name_validationMessage" role="alert" hidden="">
                                <i class="fa fa-exclamation-triangle"></i> Required!
                            </span>
                        <!---->
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2">
                        <strong>Remarks</strong>
                        <span class="text-danger">*</span>
                    </div>
                    <div class="col-md-10">
                        <textarea class="form-control ng-untouched ng-pristine ng-invalid" name="remarks" required="" rows="3" type="text"></textarea>
                        <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg field-validation-error" data-for="remarks" data-valmsg-for="remarks" id="remarks_validationMessage" role="alert" hidden="">
                                <i class="fa fa-exclamation-triangle"></i> Required!
                            </span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2">
                        <strong>Access Rights</strong>
                        <span class="text-danger">*</span>
                    </div>
                    <div class="col-md-10">
                        <ul class="treeview">
                            <li>
                                <input type="checkbox" name="Dashboard" id="Dashboard">
                                <label for="Dashboard" class="custom-unchecked">Dashboard</label>
                            </li>
                            <li>
                                <input type="checkbox" name="Operation" id="Operation">
                                <label for="Operation" class="custom-unchecked">Operation</label>
                                <ul>
                                    <li>
                                        <input type="checkbox" name="Operation-1" id="Operation-1">
                                        <label for="Operation-1" class="custom-unchecked">Error</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" name="Operation-2" id="Operation-2">
                                        <label for="Operation-2" class="custom-unchecked">Product</label>
                                    </li>
                                    <li class="last">
                                        <input type="checkbox" name="Operation-3" id="Operation-3">
                                        <label for="Operation-3" class="custom-unchecked">Rules</label>
                                    </li>
                                    <li class="last">
                                        <input type="checkbox" name="Operation-4" id="Operation-4">
                                        <label for="Operation-4" class="custom-unchecked">Announce Template</label>
                                    </li>
                                </ul>
                            </li>

                            <li class="last">
                                <input type="checkbox" name="Line" id="Line">
                                <label for="Line" class="custom-unchecked">Line mgt</label>

                                <ul>
                                    <li>
                                        <input type="checkbox" name="Line-1" id="Line-1">
                                        <label for="Line-1" class="custom-unchecked">Add Line</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" name="Line-2" id="Line-2">
                                        <label for="Line-2" class="custom-unchecked">View Line</label>
                                    </li>
                                </ul>
                            </li>
                            <li class="last">
                                <input type="checkbox" name="Report" id="Report">
                                <label for="Report" class="custom-unchecked">Report & Statistic</label>

                                <ul>
                                    <li>
                                        <input type="checkbox" name="Report-1" id="Report-1">
                                        <label for="Report-1" class="custom-unchecked">Product Report</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" name="Report-2" id="Report-2">
                                        <label for="Report-2" class="custom-unchecked">Error Report</label>
                                    </li>
                                </ul>
                            </li>
                            <li class="last">
                                <input type="checkbox" name="Notification" id="Notification">
                                <label for="Notification" class="custom-unchecked">Notification</label>

                                <ul>
                                    <li>
                                        <input type="checkbox" name="Notification-1" id="Notification-1">
                                        <label for="Notification-1" class="custom-unchecked">Add Notification</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" name="Notification-2" id="Notification-2">
                                        <label for="Notification-2" class="custom-unchecked">Notification History</label>
                                    </li>
                                </ul>
                            </li>
                            <li class="last">
                                <input type="checkbox" name="Report" id="System">
                                <label for="System" class="custom-unchecked">System Management</label>

                                <ul>
                                    <li>
                                        <input type="checkbox" name="System-1" id="System-1">
                                        <label for="System-1" class="custom-unchecked">User Management</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" name="System-2" id="System-2">
                                        <label for="System-2" class="custom-unchecked">User Roles</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" name="System-3" id="System-3">
                                        <label for="System-3" class="custom-unchecked">System Setting</label>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <!---->
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2">
                        <strong>Status</strong>
                        <span class="text-danger">*</span>
                    </div>
                    <div class="col-md-10">
                        <!---->
                        <div class="rad">
                            <input name="status" type="radio" id="Active" class="ng-untouched ng-pristine ng-valid">
                            <label class="col-form-label" for="Active">Active</label>
                        </div>
                        <div class="rad">
                            <input name="status" type="radio" id="Inactive" class="ng-untouched ng-pristine ng-valid">
                            <label class="col-form-label" for="Inactive">Inactive</label>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="form-group row">
                    <div class="col-md-2"></div>
                    <div class="col-md-10">
                        <button class="btn" routerlink="/manage-roles" type="button" tabindex="0">Back</button>
                        <button class="btn btn-outline-primary" type="submit">Submit</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>