<div [@routerTransition]>
    <app-page-header [heading]="'New Line'" [icon]="'fa-plus'"></app-page-header>
    <small>To creeate a new LINE of manufacturing shoes.</small>
    <div class="card" style="margin-top: 10px">
        <div class="card-header" (click)="isCollapsed = !isCollapsed">
            <i class="pull-right fa" [ngClass]="{'fa-chevron-down': isCollapsed, 'fa-chevron-up': !isCollapsed}"></i>
            <strong>Line information</strong>
        </div>
        <div class="card-body" [ngbCollapse]="isCollapsed">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label" for="select">Line Code</label>
                        <input type="text" name="name" class="col-md-8 form-control" placeholder="Enter Line code" />
                    </div>
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label" for="select">Line name</label>
                        <input type="text" name="name" class="col-md-8 form-control" placeholder="Enter name" />
                    </div>
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label" for="textarea-input">Line 's description</label>
                        <textarea rows="4" class="form-control col-md-8" placeholder="Content.."></textarea>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label" for="select">Order ID</label>
                        <select id="select" name="select" class="col-md-8 form-control">
                                        <option value="0">Please select Order</option>
                                        <option value="1">O011</option>
                                        <option value="2">O0112</option>
                                        <option value="3">O0113</option>
                                      </select>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label">Target Qty</label>
                        <div class="input-group col-md-8">
                            <input type="text" class="form-control">
                            <div class="input-group-append">
                                <span class="input-group-text">.00</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label" for="select">Product</label>
                        <select id="select" name="select" class="col-md-8 form-control">
                                    <option value="0">Please select product</option>
                                    <option value="1">Product Shoes #1</option>
                                    <option value="2">Product Shoes #2</option>
                                    <option value="3">Product Shoes #3</option>
                                  </select>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label" for="select">Location </label>
                        <select id="select" name="select" class="col-md-8 form-control">
                                        <option value="0">Please select location</option>
                                        <option value="1">Location #1</option>
                                        <option value="2">Location #2</option>
                                        <option value="3">Location #3</option>
                                      </select>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label" for="select">Starting date</label>
                        <div class="form-group">
                            <div class="input-group datepicker-input">
                                <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="StartingDate" ngbDatepicker #d1="ngbDatepicker">
                                <button class="input-group-addon" (click)="d1.toggle()" type="button">                                        
                                        <span class="fa fa-calendar"></span>
                                    </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label" for="select">Deadline</label>
                        <div class="form-group">
                            <div class="input-group datepicker-input">
                                <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="DeadlineDate" ngbDatepicker #d2="ngbDatepicker">
                                <button class="input-group-addon" (click)="d2.toggle()" type="button">
                                            <!-- <img src="img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/> -->
                                            <span class="fa fa-calendar"></span>
                                        </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group pull-right" style="margin-left: 1%">
                        <button class="btn btn-outline-primary" (click)="search()" type="button">Create Line</button> &nbsp;
                        <button class="btn btn-outline-primary" (click)="reset()" type="button">Reset</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>