<div>
    <app-page-header [heading]="'Rule management'" [icon]="'fa-edit'"></app-page-header>
    <div class="card" style="margin-top: 10px">
        <div class="card-header" (click)="isCollapsed = !isCollapsed">
            <i class="pull-right fa" [ngClass]="{'fa-chevron-down': isCollapsed, 'fa-chevron-up': !isCollapsed}"></i>
            <strong>Search Criteria</strong>
        </div>
        <div class="card-body" [ngbCollapse]="isCollapsed">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group row col-md-8">
                        <label class="col-md-3 col-form-label" for="select">Rule</label>
                        <input class="col-md-8 form-control ng-untouched ng-pristine ng-valid" name="name" ngmodel="" placeholder="Enter Rule name" type="text">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group row col-md-8">
                        <label class="col-xs-12 col-12 col-md-3 col-form-label" for="select">Status</label>
                        <select class="col-xs-12 col-12 col-md-8 form-control ng-untouched ng-pristine ng-valid">
                            <!----><option value="-">All</option><option value="ACT">Active</option><option value="INA">Inactive</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group row" style="margin-left: 1%">
                        <button class="btn btn-outline-primary" type="button">Search</button> &nbsp;
                        <button class="btn btn-outline-primary" type="button">Reset</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="col-md-12 mar-export">
                        <!----><button class="btn btn-outline-primary" (click)="AlertModal.show()" type="button" tabindex="0">Add New</button>
                        <button class="btn btn-outline-primary pull-right" type="button">Export to excel</button>
                        <br/><br/>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="width:10%">

                                    <a class="text-nowrap" style="cursor: pointer">
                                            #
                                            <!---->
                                            <!---->
                                        </a>
                                </th>
                                <th style="width:30%">

                                    <a class="text-nowrap" style="cursor: pointer">
                                    Rules
                                    <!---->
                                    <!---->
                                </a>
                                </th>
                                <th style="width:30%">

                                    <a class="text-nowrap" style="cursor: pointer">
                                    Manufactory part
                                    <!---->
                                    <!---->
                                </a>
                                </th>
                                <th style="width:30%">

                                    <a class="text-nowrap" style="cursor: pointer">
                                    Location
                                    <!---->
                                    <!---->
                                </a>
                                </th>
                                <th style="width:30%">

                                    <a class="text-nowrap" style="cursor: pointer">
                                    Order ID
                                    <!---->
                                    <!---->
                                </a>
                                </th>
                                <th style="width:30%">

                                    <a class="text-nowrap" style="cursor: pointer">
                                Create By
                                <!---->
                                <!---->
                            </a>
                                </th>
                                <th style="width:30%">

                                    <a class="text-nowrap" style="cursor: pointer">
                                Approved By
                                <!---->
                                <!---->
                            </a>
                                </th>
                                <th style="width: 10%">
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <!---->
                            <tr>
                                <td>1</td>
                                <td>Daily product threshold</td>
                                <td>Upper</td>
                                <td class="text-center">TBS2</td>
                                <td class="text-center">1234567</td>
                                <td class="text-center">Ms Ngân</td>
                                <td class="text-center">Ms SuperAdmin</td>
                                <td class="text-center">
                                    <!---->
                                    <a class="btn-blue fa fa-pencil" href="#/roles-edit/2"></a>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Stop manufacture Threshold</td>
                                <td>Upper</td>
                                <td class="text-center">TBS2</td>
                                <td class="text-center">1234567</td>
                                <td class="text-center">Ms Ngân</td>
                                <td class="text-center">Ms Tung</td>
                                <td class="text-center">
                                    <!---->
                                    <a class="btn-blue fa fa-pencil" href="#/roles-edit/2"></a>
                                </td>
                            </tr>
                            <!---->
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="4">
                                    <!---->
                                    <ul class="pagination">
                                        <li class="page-item disabled">
                                            <a class="page-link" style="cursor: pointer">«</a>
                                        </li>
                                        <!---->
                                        <!---->
                                        <!---->
                                        <!---->
                                        <li class="page-item active">
                                            <a class="page-link" style="cursor: pointer">1</a>
                                        </li>
                                        <!---->
                                        <li class="page-item">
                                            <a class="page-link" style="cursor: pointer">2</a>
                                        </li>
                                        <!---->
                                        <!---->
                                        <!---->
                                        <li class="page-item">
                                            <a class="page-link" style="cursor: pointer">»</a>
                                        </li>
                                    </ul>
                                    <!---->
                                    <ul class="pagination pull-right float-sm-right">
                                        <!---->
                                    </ul>

                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>