<div [@routerTransition]>
    <app-page-header [heading]="'View Line Detail'" [icon]="'fa-edit'"></app-page-header>



    <div class="card">
        <div class="card-header">
            Timeline of [TBS-01-01] <small>(Sckecher LIne of AB)</small>
        </div>
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div style="display:inline-block;width:100%;overflow-y:auto;">
                            <ul class="timeline timeline-horizontal">
                                <li class="timeline-item">
                                    <div class="timeline-badge primary"><i class="fa fa-plus"></i></div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">Line Creation</h4>
                                            <p><small class="text-muted"><i class="fa fa-clock-o"></i> 2018-05-01 10:01 AM</small></p>
                                        </div>
                                        <div class="timeline-body">
                                            <p>Line was created by <strong>[Ngan Nguyen]</strong>.</p>
                                        </div>
                                        <button class="btn btn-link link-more" type="button"><i class="fa fa-info"></i>&nbsp; More info</button>
                                    </div>
                                </li>
                                <li class="timeline-item">
                                    <div class="timeline-badge success"><i class="fa fa-check"></i></div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">Line Approval</h4>
                                            <p><small class="text-muted"><i class="fa fa-clock-o"></i> 2018-05-01 02:36 PM</small></p>
                                        </div>
                                        <div class="timeline-body">
                                            <p>Line was approved by <strong>[Ngan Nguyen]</strong>.</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="timeline-item">
                                    <div class="timeline-badge info"><i class="glyphicon glyphicon-check"></i></div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">Mussum ipsum cacilds 3</h4>
                                            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via Twitter</small></p>
                                        </div>
                                        <div class="timeline-body">
                                            <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipisci. Mé faiz elementum girarzis, nisi eros gostis.</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="timeline-item">
                                    <div class="timeline-badge danger"><i class="glyphicon glyphicon-check"></i></div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">Mussum ipsum cacilds 4</h4>
                                            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via Twitter</small></p>
                                        </div>
                                        <div class="timeline-body">
                                            <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis.</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="timeline-item">
                                    <div class="timeline-badge warning"><i class="glyphicon glyphicon-check"></i></div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">Mussum ipsum cacilds 5</h4>
                                            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via Twitter</small></p>
                                        </div>
                                        <div class="timeline-body">
                                            <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis.</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="timeline-item">
                                    <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">Mussum ipsum cacilds 6</h4>
                                            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via Twitter</small></p>
                                        </div>
                                        <div class="timeline-body">
                                            <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis.</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-header">
            General Information of Line <strong>#TBS-01-01</strong>
        </div>
        <div class="card-body">
            <div class="row mb-4">

                <div class="col-sm-4">
                    <h6 class="mb-3">From:</h6>
                    <div><strong>BootstrapMaster.com</strong></div>
                    <div>Konopnickiej 42</div>
                    <div>43-190 Mikolow, Poland</div>
                    <div>Email: lukasz@bootstrapmaster.com</div>
                    <div>Phone: +48 123 456 789</div>
                </div>
                <!--/.col-->

                <div class="col-sm-4">
                    <h6 class="mb-3">To:</h6>
                    <div><strong>BootstrapMaster.com</strong></div>
                    <div>Konopnickiej 42</div>
                    <div>43-190 Mikolow, Poland</div>
                    <div>Email: lukasz@bootstrapmaster.com</div>
                    <div>Phone: +48 123 456 789</div>
                </div>
                <!--/.col-->

                <div class="col-sm-4">
                    <h6 class="mb-3">Details:</h6>
                    <div>Invoice <strong>#90-98792</strong></div>
                    <div>March 30, 2013</div>
                    <div>VAT: PL9877281777</div>
                    <div>Account Name: BootstrapMaster.com</div>
                    <div><strong>SWIFT code: 99 8888 7777 6666 5555</strong></div>
                </div>
                <!--/.col-->
            </div>
            <!--/.row-->
        </div>
    </div>

    <br>
    <div class="card">
        <div class="card-header">
            History of Line <strong>#TBS-01-01</strong>
        </div>
        <div class="card-body">
            <div class="table-responsive-sm">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="center">#</th>
                            <th>Item</th>
                            <th>Description</th>
                            <th class="center">Quantity</th>
                            <th class="right">Unit Cost</th>
                            <th class="right">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="center">1</td>
                            <td class="left">Origin License</td>
                            <td class="left">Extended License</td>
                            <td class="center">1</td>
                            <td class="right">$999,00</td>
                            <td class="right">$999,00</td>
                        </tr>
                        <tr>
                            <td class="center">2</td>
                            <td class="left">Custom Services</td>
                            <td class="left">Instalation and Customization (cost per hour)</td>
                            <td class="center">20</td>
                            <td class="right">$150,00</td>
                            <td class="right">$3.000,00</td>
                        </tr>
                        <tr>
                            <td class="center">3</td>
                            <td class="left">Hosting</td>
                            <td class="left">1 year subcription</td>
                            <td class="center">1</td>
                            <td class="right">$499,00</td>
                            <td class="right">$499,00</td>
                        </tr>
                        <tr>
                            <td class="center">4</td>
                            <td class="left">Platinum Support</td>
                            <td class="left">1 year subcription 24/7</td>
                            <td class="center">1</td>
                            <td class="right">$3.999,00</td>
                            <td class="right">$3.999,00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>