<div [@routerTransition]>
    <app-page-header [heading]="'Error Type'" [icon]="'fa-edit'"></app-page-header>

    <div class="row">
        <div class="card col-md-12">
            <div class="card-header">Error Type</div>
            <table class="card-body table">
                <thead>
                    <tr>
                        <th>Bug Name</th>
                        <th>Product Type</th>
                        <th>Status</th>
                        <th>Date</th>
                        <th>User</th>
                        <th style="width: 25%"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-active">
                        <th scope="row">Upper</th>
                        <td>Giày da cổ cao</td>
                        <td>Active</td>
                        <td>06/06/2018</td>
                        <td>Ms Ngân</td>
                        <td>
                            <div class="btn-group open"><a class="btn btn-info" (click)="AlertModal.show()">Edit</a></div>
                            <div class="btn-group open"><a class="btn btn-info">Delete</a></div>
                            <div class="btn-group open"><a class="btn btn-info">Clone</a></div>
                        </td>
                    </tr>
                    <tr class="table-success">
                        <th scope="row">Last Upper</th>
                        <td>Giày da cổ cao</td>
                        <td>Active</td>
                        <td>06/06/2018</td>
                        <td>Ms Ngân</td>
                        <td>
                            <div class="btn-group open"><a class="btn btn-info">Edit</a></div>
                            <div class="btn-group open"><a class="btn btn-info">Delete</a></div>
                            <div class="btn-group open"><a class="btn btn-info">Clone</a></div>
                        </td>
                    </tr>
                    <tr class="table-info">
                        <th scope="row">Upper</th>
                        <td>Giày da cổ cao</td>
                        <td>Active</td>
                        <td>06/06/2018</td>
                        <td>Ms Ngân</td>
                        <td>
                            <div class="btn-group open"><a class="btn btn-info">Edit</a></div>
                            <div class="btn-group open"><a class="btn btn-info">Delete</a></div>
                            <div class="btn-group open"><a class="btn btn-info">Clone</a></div>
                        </td>
                    </tr>
                    <tr class="table-warning">
                        <th scope="row">Finish Product</th>
                        <td>Giày da cổ cao</td>
                        <td>Active</td>
                        <td>06/06/2018</td>
                        <td>Ms Ngân</td>
                        <td>
                            <div class="btn-group open"><a class="btn btn-info">Edit</a></div>
                            <div class="btn-group open"><a class="btn btn-info">Delete</a></div>
                            <div class="btn-group open"><a class="btn btn-info">Clone</a></div>
                        </td>
                    </tr>
                    <tr class="table-danger">
                        <th scope="row">Upper</th>
                        <td>Giày da cổ cao</td>
                        <td>Active</td>
                        <td>06/06/2018</td>
                        <td>Ms Ngân</td>
                        <td>
                            <div class="btn-group open"><a class="btn btn-info">Edit</a></div>
                            <div class="btn-group open"><a class="btn btn-info">Delete</a></div>
                            <div class="btn-group open"><a class="btn btn-info">Clone</a></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- /.row -->
</div>

<div bsModal #AlertModal="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modelAlert modal-lgg" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#dddddd ">
                <h4 class="modal-title">Confirm</h4>
                <!-- <button type="button" class="close" (click)="a1EModal.hide()" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button> -->
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div style="text-align: center">
                            <strong>Are you sure, you want to close?</strong>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-3"> </div>
                        <div class="col-md-3">
                            <button type="button" class="btn btn-primary btn-block" (click)="AlertModal.hide();">Yes</button>
                        </div>
                        <div class="col-md-3">
                            <button type="button" class="btn btn-block" (click)="AlertModal.hide();">No</button>
                        </div>
                        <div class="col-md-3"> </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>