<div [@routerTransition]>
    <app-page-header [heading]="'Error Type'" [icon]="'fa-edit'"></app-page-header>

    <div class="row">
        <div class="card col-md-12">
            <div class="card-header">Error Type</div>
            <table class="card-body table">
                <thead>
                    <tr>
                        <th>Bug Name</th>
                        <th>Product Type</th>
                        <th>Status</th>
                        <th>Date</th>
                        <th>User</th>
                        <th style="width: 25%"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-active">
                        <th scope="row">Upper</th>
                        <td>Giày da cổ cao</td>
                        <td>Active</td>
                        <td>06/06/2018</td>
                        <td>Ms Ngân</td>
                        <td>
                            <div class="btn-group open"><a class="btn btn-info" (click)="BuyAlertModel.show()">Edit</a></div>
                            <div class="btn-group open"><a class="btn btn-info">Delete</a></div>
                            <div class="btn-group open"><a class="btn btn-info">Clone</a></div>
                        </td>
                    </tr>
                    <tr class="table-success">
                        <th scope="row">Last Upper</th>
                        <td>Giày da cổ cao</td>
                        <td>Active</td>
                        <td>06/06/2018</td>
                        <td>Ms Ngân</td>
                        <td>
                            <div class="btn-group open"><a class="btn btn-info">Edit</a></div>
                            <div class="btn-group open"><a class="btn btn-info">Delete</a></div>
                            <div class="btn-group open"><a class="btn btn-info">Clone</a></div>
                        </td>
                    </tr>
                    <tr class="table-info">
                        <th scope="row">Upper</th>
                        <td>Giày da cổ cao</td>
                        <td>Active</td>
                        <td>06/06/2018</td>
                        <td>Ms Ngân</td>
                        <td>
                            <div class="btn-group open"><a class="btn btn-info">Edit</a></div>
                            <div class="btn-group open"><a class="btn btn-info">Delete</a></div>
                            <div class="btn-group open"><a class="btn btn-info">Clone</a></div>
                        </td>
                    </tr>
                    <tr class="table-warning">
                        <th scope="row">Finish Product</th>
                        <td>Giày da cổ cao</td>
                        <td>Active</td>
                        <td>06/06/2018</td>
                        <td>Ms Ngân</td>
                        <td>
                            <div class="btn-group open"><a class="btn btn-info">Edit</a></div>
                            <div class="btn-group open"><a class="btn btn-info">Delete</a></div>
                            <div class="btn-group open"><a class="btn btn-info">Clone</a></div>
                        </td>
                    </tr>
                    <tr class="table-danger">
                        <th scope="row">Upper</th>
                        <td>Giày da cổ cao</td>
                        <td>Active</td>
                        <td>06/06/2018</td>
                        <td>Ms Ngân</td>
                        <td>
                            <div class="btn-group open"><a class="btn btn-info">Edit</a></div>
                            <div class="btn-group open"><a class="btn btn-info">Delete</a></div>
                            <div class="btn-group open"><a class="btn btn-info">Clone</a></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- /.row -->
</div>