.card-header {
    padding-top: 7px;
    padding-left: 7px;
    padding-bottom: 0;
}

// Icon list
.icons-list {
    padding: 0;
    margin: 0;
    list-style: none;
    padding-bottom: 10px;
    li {
        position: relative;
        vertical-align: middle;
        .desc {
            margin-left: 0;
        }
        .timer {
            font-style: italic;
            border-bottom: 1px solid rgb(190, 189, 189);
        }
        .title {
            padding: 2px 0 0;
            margin: 0;
            font-size: 1.2em;
            font-weight: 600;
        }
    }
}